
html, body {
  margin:5px;
  height:100%;
  background-color: white;
  cursor: url('reddot.cur'),auto;
}

.box {
  text-align: center;
  width: 100%;
  height: 100%;
  display:  table;
}

.inner-box{
  text-align:center;
  display:table-cell;
  vertical-align: middle;
}